/* #logosvg {
    display: flex;
    align-items: center;
} */

#a_title {
    display: inline;
    font-size: 2.2rem !important;
    font-weight: bolder;
}



#logosvg:hover,
#logosvg:focus {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
    animation: fadeIn 2s;
}



@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}